<style>
    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 60px;
        margin: 0 auto;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 450px;
    }
</style>
   <a class="btn btn-danger" href="{{urlVenta}}" role="button" target="_blank">CATEGORIAS</a>
    {{!-- </div> --}}
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each photos}}
            {{!-- <img src="{{imageURL}}" alt="" class="swiper-slide"> --}}
            <a href="/images/cat/{{categoria}}" src="{{imageURL}} title="{{title}}" class="swiper-slide">
                <img src="{{imageURL}}" alt="{{title}}" class="swiper-slide">
                <li value="{{categoria}}" class="swiper-slide">{{categoria}}</li>
            </a>
        {{/each}}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar --> 
    <!-- <div class="swiper-scrollbar"></div> -->
</div>
